@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);
	--color-dark-gray: hsl(0, 0%, 55%);
	--color-very-dark-gray: hsl(0, 0%, 41%);
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	line-height: 1.6;
	font-family: 'Alata', sans-serif;
	color: #fff;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 4rem;
}
/* Header */
header {
	background: url('./images/desktop/image-hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

header .flex {
	justify-content: space-between;
}

header ul {
	display: flex;
}

header ul li {
	padding: 10px;
}

.logo {
	width: 19.2rem;
	cursor: pointer;
}

.header-text {
	margin-top: 7rem;
	text-transform: uppercase;
	/* display: inline-block; */
	width: 500px;
}

.header-text h1 {
	width: 85%;
	letter-spacing: 0.5rem;
	font-weight: normal;
	border: 2px solid #fff;
	padding: 3rem 2rem;
	font-size: 4rem;
}

/* Hero */

.hero {
	color: #000;
	margin-top: 7rem;
}

.hero img {
	grid-column: 1 / span 4;
	grid-row: 1;
}

.hero-interactive {
	background: #fff;
	align-self: flex-end;
	grid-column: 4 / span 6;
	grid-row: 1;
	padding: 8rem 2rem 5rem 7rem;
}

.hero-interactive h1 {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 4rem;
	margin-bottom: 2rem;
	line-height: 1.2;
}

.hero-interactive p {
	font-family: 'Josefin Sans', sans-serif;
}

/* Creations section */

.creations .flex {
	justify-content: space-between;
}

.creations .grid .flex {
	align-items: flex-end;
	padding: 3rem;
	text-transform: uppercase;
}
.creations .grid .flex h2 {
	display: inline-block;
	/* width: 16rem; */
	/* padding: 1.5rem 0; */
	width: 80%;
}
.creations .grid {
	margin-top: 4rem;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(400px, auto);
	align-items: stretch;
	gap: 1.5rem;
}
.creations-text {
	color: #000;
	text-transform: uppercase;
	flex-wrap: wrap;
}

.creations-text h1 {
	font-size: 4rem;
}

.creations-text button {
	border: none;
	padding: 1.4rem 5rem;
	text-transform: uppercase;
	background: var(--color-black);
	color: var(--color-white);
	letter-spacing: 0.5rem;
	font-family: 'Alata', sans-serif;
}

.item-1 {
	background-image: url('./images/desktop/image-deep-earth.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.item-2 {
	background-image: url('./images/desktop/image-night-arcade.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.item-3 {
	background-image: url('./images/desktop/image-soccer-team.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.item-4 {
	background-image: url('./images/desktop/image-grid.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.item-5 {
	background-image: url('./images/desktop/image-from-above.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.item-6 {
	background-image: url('./images/desktop/image-pocket-borealis.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.item-7 {
	background-image: url('./images/desktop/image-curiosity.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.item-8 {
	background-image: url('./images/desktop/image-fisheye.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

/* Footer */

footer {
	background: var(--color-black);
}

footer .flex {
	justify-content: space-between;
}

footer li {
	padding: 1rem;
}

footer .about {
	padding-left: 0;
}
footer p {
	font-size: 1.3rem;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 860px) {
	.hero .grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.hero-interactive {
		grid-column: auto;
		grid-row: auto;
		padding: 4rem;
	}
}

@media (max-width: 768px) {
	.creations .grid {
		grid-template-columns: repeat(2, 1fr);
	}

	footer .footer-links {
		flex-direction: column;
		align-items: flex-start;
	}

	footer .footer-links li {
		padding: 0;
	}

	.attribution {
		margin-top: 2rem;
	}

	.header-text h1 {
		font-size: 2rem;
		/* width: 50%; */
		margin: 0 auto;
	}

	.header-text {
		margin: 10rem auto 0;
		width: 440px;
		/* width: 100%; */
	}

	.menu {
		cursor: pointer;
		/* position: relative; */
		height: 40px;
		/* top: 16px; */
		z-index: 2;
	}
	.hamburger {
		width: 50px;
		height: 6px;
		background: #fff;
		position: relative;
		top: 16px;
		box-shadow: 4px 1rem 1.4rem rgba(0, 0, 0, 0.2);
		transition: all 0.5s ease-in-out;
	}
	.hamburger::after,
	.hamburger::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 6px;
		background: #fff;
		transition: all 0.5s ease-in-out;
	}
	.hamburger::before {
		transform: translateY(-15px);
	}
	.hamburger::after {
		transform: translateY(15px);
	}

	.menu.open .hamburger {
		transform: translateX(-35px);
		background: transparent;
		transition: all 0.5s ease-in-out;
	}

	.menu.open .hamburger::after {
		transform: rotate(-45deg);
	}
	.menu.open .hamburger::before {
		transform: rotate(45deg);
	}

	header nav {
		position: fixed;
		top: -100%;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
		transition: all 0.5s ease-in-out;
	}

	header nav.go-down {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
		background-color: #000;
	}

	.logo-header {
		position: static;
		z-index: 2;
		padding-left: 2rem;
	}

	header nav ul {
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
		padding-left: 2rem;
		height: 100%;
		text-transform: uppercase;
		font-size: 2.5rem;
	}

	header .navbar {
		position: fixed;
		right: 0;
		left: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.616);
		top: 3rem;
		padding: 1.5rem;
		right: 2rem;
	}
}

@media (max-width: 500px) {
	.creations .grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
